<div class='col-md-12'>
    <div class="col-md-4">
        <a href="#" class="thumbnail">
            <img class="profile-img" src="{{profileURL}}" alt="...">
        </a>
    </div>
    <div class="col-md-6">
        <h1>{{firstName}}</h1>
        <h5>{{lastName}}</h5>
        <h5>{{phone}}</h5>
        <h5>{{location}}</h5>
    </div>
</div>

<div class="col-md-12">
    <div class="col-md-2"></div>
    <div class="col-md-10">
        <div>
            <h4><span><i class="fa fa-bullhorn"></i> </span> Ads by
                <a href="/profile/{{username}}">{{firstName}} {{lastName}}</a> <span class="badge">{{adsCollection.length}}</span>
            </h4>
            <div>
                <div ng-repeat="ad in adsCollection">

                    <div class="col-xs-6 col-md-3">
                        <a href="/ad/{{ad._id}}" class="thumbnail">
                            <img src="{{ad.picture[0]}}" class="user-ads" alt="...">
                        </a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>