<h4>Feedbacks</h4>
<div class='feedBackPanels'>
    <div ng-repeat="feed in feedbacks">
        <div class='panel panel-default'>
            <div class='panel-heading'> {{feed.username}}</div>
            <div class='panel-body'>
                <p>{{feed.comment}}</p>
            </div>
        </div>
    </div>
</div>