
<div class="container row">
    <div class="col-md-12">
        <% include ../bodyparts/profile/profileInformation %>
         <hr>
        <div ng-controller="feedbackCtrl" class="col-md-8">
            <!--  <div ui-view="feedbackView">-->
            
            <% include ../bodyparts/profile/feedback %>
        </div>
    </div>
</div>