<div class='col-md-12'>
    <form class="form-inline col-md-12" ng-submit="searchOption()" role="form" >
  
        <div class="col-md-4">
            <div class="form-group input-group input-group-md col-md-12">
                
                <input type="text" id='searchZipCode' class="form-control input-md" placeholder="zip code"/>
                <span  class="btn btn-default input-group-addon" ng-click="lookUp()">  <i class="fa fa-map-pin"></i> Locate Me</span>
                
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">

                <select class="form-control" id="optionSelectRadius">
                    <option value="10">10 miles radius</option>
                    <option value="25">25 miles radius</option>
                    <option selected="selected" value="50">50 miles radius</option>
                    <option value="75">75 miles radius</option>
                    <option value="100">100 miles radius</option>
                </select>
            </div>
        </div>

        <div class="col-md-5">
            <div class="form-group">
                <div class="input-group">
                    <input id="searchQuery" type="text" placeholder="what to search?" class="form-control " aria-label="...">
                    <div class="input-group-btn">
                        <select  class="form-control"  id="optionSelectQuery">
                            <option selected="selected" value="make">Make</option>
                            <option value="year">Year</option>
                            <option  value="model">Model</option>
                        </select>
                        <button  class="btn btn-default" type="submit" ><i class="fa fa-search"></i>Search</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="adsSearch" class='col-md-12'>
</div>
