
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- add header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><span class='logo-web'>Web</span><span class='logo-cars'>Cars</span></a>
        </div>
        <!-- menu items -->
        <div class="collapse navbar-collapse" id="navbar1">
            <ul class="nav navbar-nav" >
                <li ng-class="{active : isSelected('index-nav')}">
                    <a ui-sref="index">
                        <span class="fa fa-home fa-2x" style="display:block; text-align:center"></span> 
                        Home
                    </a>
                </li>
                <li ng-class="{active : isSelected('search-nav')}">
                    <a ui-sref="search" >
              
                        <span class="fa fa-search fa-2x" style="display:block; text-align:center"></span>
                        Search
                    </a>
                </li>
                <li ng-if="userExist == false" ng-class="{active : isSelected('login-nav')}">
                  
                    <a ui-sref="login">
                        <span class="fa fa-sign-in fa-2x" style="display:block; text-align:center"></span>
                        Login
                    </a>
                </li>
                <li ng-if="userExist == true" ng-controller='logoutCtrl'>
                    <a href="#" ng-click="sendLogOutGet()">
                        <span class="fa fa-sign-out fa-2x" style="display:block; text-align:center"></span> 
                        Logout
                    </a>
                </li>

                <li ng-if="userExist == true"  ng-class="{active : isSelected('home-nav')}" >

                    <a ui-sref="home({username: '{{username}}'})">
                        <span class="fa fa-user fa-2x" style="display:block; text-align:center"></span>
                        Profile
                    </a>
                </li>

                <li ng-if="userExist == true"  ng-class="{active : isSelected('post-nav')}">

                    <a ui-sref="post({username: '{{username}}'})">
                        <span class="fa fa-bullhorn fa-2x" style="display:block; text-align:center"></span>
                        Post Ads
                    </a>
                </li>
                <li ng-if="userExist == false" ng-class="{active : isSelected('register-nav')}">

                    <a ui-sref="register">
                        <span class="fa fa-user-plus fa-2x" style="display:block; text-align:center"></span>
                        Register
                    </a>
                </li>
            </ul>
            <!-- social media icons -->
            <ul class="nav navbar-nav navbar-right social">
                <li><a href="#"><i class="fa fa-lg fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-lg fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-lg fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-lg fa-linkedin"></i></a></li>
            </ul>
        </div>
    </div>
    
    <script src="/js/customsjs/navBar.js"></script>

</nav>
