
<div class="col-md-4"></div> 

<div ng-controller="registerCtrl" class="col-md-4">

    <form id="registerForm" name="registerFormName">
        <fieldset>
            <ul class="nav nav-tabs" id="tabs-nav">
                <li class="active"><a href="#info-tab" data-toggle="tab">Account<i class="fa"></i></a></li>
                <li><a href="#address-tab" data-toggle="tab">Personal<i class="fa"></i></a></li>
            </ul>
            <!-- Form Name -->
            <legend>Create account with us. </legend>
            <div class="form-group" ng-if="error == true">
                <div class="alert alert-danger"><strong>Error </strong>{{errorMessage}}</div>
            </div>

            <div class="tab-content">
                <div class="tab-pane active" id="info-tab">
                    <div class="col-md-12">

                        <div class="form-group">
                            <h4>Account Information</h4>  
                        </div>
                        <!-- Text input-->
                        <div class=" form-group   groupContainer">
                            <div class="input-group input-group-md">
                                <span class="input-group-addon" > <i class="fa fa-user"></i></span>
                                <input class="form-control input-md" ng-model="registerData.username" name="username" type="text" placeholder="email">
                            </div>
                        </div>

                        <!-- Password input-->
                        <div class=" form-group   groupContainer">
                            <div class="input-group input-group-md">

                                <span class="input-group-addon" ><i class="fa fa-key"></i> </span>
                                <input class="form-control input-md" ng-model="registerData.password" name="password" type="password" placeholder="password" >
                            </div>
                        </div>
                        <div class=" form-group   groupContainer">
                            <div class="input-group input-group-md">
                                <span class="input-group-addon" ><i class="fa fa-check"></i> </span>
                                <input class="form-control input-md" ng-model="registerData.confirm" name="confirmPassword"  type="password" placeholder="confirm password">
                            </div>
                        </div>
                        <span class="pull-right">
                            <a href="#address-tab" data-toggle="tab" onclick = "activateTabs()">
                                <i class="fa fa-arrow-right fa-3x"></i>
                            </a>
                        </span>    
                    </div>

                </div>
                <div class="tab-pane" id="address-tab">
                    <div class="col-md-12">
                        <a href="#info-tab" data-toggle="tab" onclick = "activateTabs()">
                            <i class="fa fa-arrow-left fa-3x"></i>
                        </a>
                        <div class="form-group">
                            <h4>Personal Information</h4>  
                        </div>
                        <!-- Text input-->
                        <div class="form-group">

                            <input class="form-control input-md" ng-model="registerData.fname" type="text" name="fname" placeholder="First Name">
                            <!-- Text input-->
                        </div>
                        <div class="form-group">
                            <input class="form-control input-md" ng-model="registerData.lname" type="text" name="lname"  placeholder="Last Name" >
                        </div>


                        <hr>
                        <!-- Text input-->
                        <div class="form-group">
                            <input class="form-control input-md" ng-model="registerData.phone" type="text" name="phone"  placeholder="(xxx)(---)(xxxx)" >
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <input class="form-control input-md" ng-model="registerData.address" type="text" name="address" placeholder="location">
                        </div>

                        <!-- Text input-->
                        <div class="form-group">

                            <input class="form-control input-md" ng-model="registerData.profileURL" type="text" name="url" placeholder="path to image" >
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary form-control btn-md">Submit</button>
                        </div>
                        <div class="form-group">
                            <a href="/">
                                <button type="button" class="btn btn-danger form-control btn-md">Cancel</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
    <script src="/js/customsjs/validation/register.js"></script>
</div>

