
<div class="col-md-4"></div> 

<div class="col-md-4" id="registerScopeID">

    <form id="registerForm" name="registerFormName">
        <fieldset>
            <ul class="nav nav-tabs" id="tabs-nav">
                <li class="active"><a href="#info-tab" data-toggle="tab">Account<i class="fa"></i></a></li>
                <li><a href="#address-tab" data-toggle="tab">Personal<i class="fa"></i></a></li>
            </ul>
            <!-- Form Name -->
            <legend>Create account with us. </legend>
            <div class="form-group" ng-if="error == true">
                <div class="alert alert-danger"><strong>Error </strong>{{errorMessage}}</div>
            </div>

            <div class="tab-content">
                <div class="tab-pane active" id="info-tab">
                    <div class="col-md-12">

                        <div class="form-group">
                            <h4>Account Information</h4>  
                        </div>
                        <!-- Text input-->
                        <div class=" form-group   groupContainer">
                            <div class="input-group input-group-md">
                                <span class="input-group-addon" > <i class="fa fa-user"></i></span>
                                <input class="form-control input-md" ng-model="registerData.username" name="username" type="text" placeholder="email">
                            </div>
                        </div>

                        <!-- Password input-->
                        <div class=" form-group   groupContainer">
                            <div class="input-group input-group-md">

                                <span class="input-group-addon" ><i class="fa fa-key"></i> </span>
                                <input class="form-control input-md" ng-model="registerData.password" name="password" type="password" placeholder="password" >
                            </div>
                        </div>
                        <div class=" form-group   groupContainer">
                            <div class="input-group input-group-md">
                                <span class="input-group-addon" ><i class="fa fa-check"></i> </span>
                                <input class="form-control input-md" ng-model="registerData.confirm" name="confirmPassword"  type="password" placeholder="confirm password">
                            </div>
                        </div>
                           <!-- Text input-->
                        <div class=" form-group">
                            <h4>Select a profile image</h4>
                        </div>
                        <div class=" form-group   groupContainer input-group input-group-md col-md-12">

                            <span  class="btn btn-default col-md-6" onclick="loadDefaultImage('profile')">   <i class="fa fa-picture-o" aria-hidden="true"></i> Default</span>

                            <span class="fileUpload btn btn-default col-md-6">
                                <span><i class="fa fa-upload"></i> Upload</span>

                                <input id="imageFile" type="file" class="upload" name="urlFile"/>
                            </span>
                        </div>
                  
                        <div class=" form-group">
                            <center>
                                <img id="imageViewer" src="/images/defaultImage.png" height="50" alt="Image preview...">
                            </center>
                        </div>
                        <span class="form-group groupContainer">
                            <a class="btn btn-default form-control" href="#address-tab"  data-toggle="tab" onclick = "activateTabs()">
                                Next <i class="fa fa-arrow-right "></i>
                            </a>
                        </span>    
                    </div>

                </div>
                <div class="tab-pane" id="address-tab">
                    <div class="col-md-12">

                        <div class="form-group">
                            <h4>Personal Information</h4>  
                        </div>
                        <!-- Text input-->
                        <div class="form-group">

                            <input class="form-control input-md" ng-model="registerData.fname" type="text" name="fname" placeholder="First Name">
                            <!-- Text input-->
                        </div>
                        <div class="form-group">
                            <input class="form-control input-md" ng-model="registerData.lname" type="text" name="lname"  placeholder="Last Name" >
                        </div>

                        <hr>
                        <!-- Text input-->
                        <div class="form-group">
                            <input class="form-control input-md" ng-model="registerData.phone" type="text" name="phone"  placeholder="(xxx)(---)(xxxx)" >
                        </div>

                        <div class="form-group input-group input-group-md ">
                            <span  class="btn btn-default input-group-addon" ng-click="lookUp()">  <i class="fa fa-map-pin"></i> Locate Me</span>
                            <input id="registerZipCode" class="form-control input-md" ng-model="registerData.zipCode" type="text" name="zipCode" placeholder="zip code">
                        </div>

                        <!-- Text input-->
                        <div class="form-group ">
                            <input id="registerAddress" class="form-control input-md" ng-model="registerData.address" type="text" name="address" placeholder="City, State">
                        </div>

                     
                        <div class="form-group">
                            <a class="btn btn-default form-control" href="#info-tab" data-toggle="tab" onclick = "activateTabs()">
                                <i class="fa fa-arrow-left"></i> Previous 
                            </a>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success form-control btn-md">Submit</button>
                        </div>
                        <div class="form-group">
                            <a href="/">
                                <button type="button" class="btn btn-danger form-control btn-md">Cancel</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>


    <script src="/js/customsjs/validation/register.js"></script>
</div>

