<html lang="en">
    <head>
        <% include ../templates/header %>
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
        <% include ../templates/nav_bar %>
        <div class="container">
            <div class="container">
                <form role="form" action="/login" method="post" class="form-horizontal">
                    <legend>Login Page</legend>
                    <% include ../templates/errorMessage %>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="username">Email</label>  
                        <div class="col-md-3">
                            <input type="text" name="username" placeholder="Enter Username" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="password">password</label>  
                        <div class="col-md-3">
                            <input type="password" name="password" placeholder="Password" class="form-control">
                        </div>
                    </div>
                    <!-- Button -->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="submit"></label>
                        <div class="col-md-4">
                            <button id="submit" name="submit" class="btn btn-primary">submit</button>
                            <a href="/">
                                <button  class="btn btn-default">Cancel</button>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>