extends layout

block container
  if (!user)
    a(href="/login") Login
    br
    a(href="/signup") Register
  if (user)
    p You are currently logged in as #{user.username}
    a(href="/logout") Logout