.price-tag{
 
    font-size : 30px;
    color: red;
}
.model-tag{
    font-size : 20px;    
    color: brown;
}
.description-box{
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
    font-size: 20px;
}