


@import url(//netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.css);


fieldset {
    margin: 8px;
    border: 1px solid silver;
    padding: 8px;    
    border-radius: 4px;
}
legend {
    padding: 10px;   
    font-size: 30px
}
/*
body {
    padding-top: 15px;
    padding-left: 20%;
    padding-right: 20%;
    border-left: 1px solid silver;
    border-right: 1px solid silver;
}
*/
.logo-cars{
    font-size: 20px;
    color : brown;
}

.logo-web {
    font-size: 40px;
}

.main-edges-right {
    border-left: 1px solid silver;
    height:100%;
    position: fixed;

} 

.main-edges-left {
    border-right: 1px solid silver;

    height:100%;
    position: fixed;

} 
.navbar-brand{
    position: relative;
    top: 50%;
    transform: translateY(25%);
}
.model-tag{
    font-size : 20px;    
    color: brown;
}
.description-box{
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
    font-size: 20px;
}
.round_img {
    display:block;
    border-radius: 50%;
    max-width: 60px;
    height: 60px;
    border: 1px solid #ccc;
}

.user-name{
    color: brown;
    font-size: 20px;
}


.right-line{
    border-right: 1px solid silver;
}

.profile-img { 
    vertical-align: middle;
    width: 200px;
    max-height: 200px;
    display: -moz-inline-box; /* Firefox 2 */
    display: inline-block;
}

.user-ads {
    vertical-align: middle;
     margin-left: auto;
    margin-right: auto;
    max-width: 110px;
    max-height: 110px;

    width: auto;
    height: auto;
    display: -moz-inline-box; /* Firefox 2 */
    display: inline-block;
}
.ad-small-make{


}

.ad-small-model{
    color: brown;
    font-size: 10px;
}