body {
    padding-top: 70px;
}

@media screen and (max-width: 768px) {
    body {
        padding-top: 0px;
    }
}
.userName ,.price{
    font-size: x-large;
}
span.price {
    float: right;
}

.thumbnail {
    width: 800px;
    min-height: 900px;
}

.carousel-img {
    min-width: 800px;
    min-height: 700px;
    max-width: 800px;
    max-height: 700px;
}

.outer {
    width: 100%;

    /* Firefox */
    display: -moz-box;
    -moz-box-pack: center;
    -moz-box-align: center;

    /* Safari and Chrome */
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;

    /* W3C */
    display: box;
    box-pack: center;
    box-align: center;
}

.inner {
    width: 50%;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}
a.right.carousel-control, a.left.carousel-control{
    height : 700px;
}