<html lang="en">
    <head>
        <% include ../templates/header %>
        <script src="../js/customsjs/carAd.js"></script>
        <link rel="stylesheet" href="http://localhost:3000/stylesheets/carAds.css">
    </head>
    <body>
        <% include ../templates/nav_bar %>
        <div class="container outer" id="carAds">            
            <script>
               placeCarAd( <%- adJson %> )
            </script>
        </div>
    </body>
</html>