<html lang="en">
    <head>
        <% include ../templates/header %>
        <script src="../js/customsjs/carAd.js"></script>
    </head>
    <body>
        <% include ../templates/nav_bar %>
        <div class="container outer" id="carAds">            
            <script>
               placeCarAd( <%- adJson %> )
            </script>
        </div>
    </body>
</html>