<html lang="en">
    <head>
        <% include ../templates/header %>
        <script src="js/customsjs/search.js"></script>
    </head>
    <body>
        <% include ../templates/nav_bar %>

        <div class="container" id="adsSearch">
        </div>
        <script>
            collectionPaser( <%- collection%> );
        </script>

    </body>
</html>

