<html lang="en">
    <head>
        <% include ../templates/header %>
        <script src="js/customsjs/search.js"></script>
        <link rel="stylesheet" href="http://localhost:3000/stylesheets/search.css">
    </head>
    <body>
        <% include ../templates/nav_bar %>

        <div class="container" id="adsSearch">
        </div>
        <script>
            collectionPaser( <%- collection%> );
        </script>

    </body>
</html>

