<html lang="en">
    <head>
        <% include ../templates/header %>
        <link rel="stylesheet" href="http://localhost:3000/stylesheets/style.css">
    </head>
    <body>
        <% include ../templates/nav_bar %>

        <div class="container">
            <form role="form" action="/register" method="post" class="form-horizontal">
                <fieldset>

                    <!-- Form Name -->
                    <legend>Register</legend>

                    <% include ../templates/errorMessage %>
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="username">Email</label>  
                        <div class="col-md-4">
                            <input id="username" name="username" type="text" placeholder="email" class="form-control input-md" required="">

                        </div>
                    </div>

                    <!-- Password input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="password">Password</label>
                        <div class="col-md-4">
                            <input id="password" name="password" type="password" placeholder="password" class="form-control input-md" required="">

                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="fname">First Name</label>  
                        <div class="col-md-4">
                            <input id="fname" name="fname" type="text" placeholder="First Name" class="form-control input-md">

                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="lname">Last Name</label>  
                        <div class="col-md-4">
                            <input id="lname" name="lname" type="text" placeholder="Last Name" class="form-control input-md">

                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="phone">Phone</label>  
                        <div class="col-md-4">
                            <input id="phone" name="phone" type="text" placeholder="cell phone" class="form-control input-md">

                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="address">Address</label>  
                        <div class="col-md-4">
                            <input id="address" name="address" type="text" placeholder="location" class="form-control input-md">

                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="profileURL">Profile Image URL</label>  
                        <div class="col-md-4">
                            <input id="profileURL" name="profileURL" type="text" placeholder="path to image" class="form-control input-md">

                        </div>
                    </div>

                    <!-- Button -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="submit"></label>
                        <div class="col-md-4">
                            <button id="submit" name="submit" class="btn btn-primary">submit</button>
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>
    </body>
</html>