<html>
    <head>
        <% include ../templates/header %>
    </head>

    <body>
        <% include ../templates/nav_bar %>

        <div>
            
            <h1>HELLO THIS!!!!!!!!!!
            </h1>
        </div>

        <% include ../templates/footer %>
    </body>
</html>