<meta charset="UTF-8">
<!--Cody Mulkern                Cody_Mulkern@student.uml.edu
Thiago Goncalves            gebrim.goncalves@gmail.com
File: layout.jade
Description : main template to wrap around the data-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<!-- Optional theme-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">


<!-- Latest compiled and minified JavaScript-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


<script src="libs/jqueryv1.7/dist/jquery.validate.min.js"></script>
<script src="libs/jqueryv1.7/dist/additional-methods.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/formvalidation/0.6.1/js/formValidation.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/formvalidation/0.6.1/js/framework/bootstrap.js"></script>

<link rel="stylesheet" href="/stylesheets/main.css">
<link rel="stylesheet" href="/stylesheets/carAds.css">


<script src="/js/customsjs/main.js"></script>
<script src="/js/customsjs/profile.js"></script>
<script src="/js/customsjs/carAd.js"></script>

<title>WebCars</title>
